
<div id="nav">
    <a href="/">Home</a>
    <a href="/categories/">Categories</a>
    <a href="/all-vocabs/">All vocabs</a>
    <a id="nav-random" href="/vocabulary?vocab_id=random">Random</a>
    <a id="nav-unrelated" href="/vocabulary?vocab_id=random_unrelated">Unrelated</a>
    <a id="nav-vis" href="/vis/relations-primary.html" style="float: right;">Net of Words</a>
</div>

<div id="footer">
    <a href="/logout">Ausloggen</a>
</div>