@media(min-width:1200px) {
    .container {
        width: 60%;
    }
}

:root {
    --color-primary: #4CAF50;
    --color-primary-dark: #388E3C;
    --color-secondary: #C8E6C9;
    --color-secondary-dark: #536DFE;
}


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-primary);
}



/* Style the top navigation bar */
.title {
    overflow: hidden;
}

.container {
    /*display: flex;*/
    margin-left: auto;
    margin-right: auto;
}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

svg:hover{
    cursor: pointer;
}

/* Style the top navigation bar */
#topnav {
    overflow: hidden;
    background-color: var(--color-primary-dark);
    flex-direction: row;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Style the topnav links */
#topnav a {
    float: left;
    display: block;
    color: var(--color-secondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#topnav a:hover {
    background-color: var(--color-secondary);
    color: black;
}

/* Style the content */
#content {
    background-color: var(--color-secondary);
    padding: 10px;
    flex-direction: column;
    margin-bottom: 50px;
}

/* Style the footer */
#footer {
    background-color: var(--color-secondary);
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}

/* Style the footer links */
#footer a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#footer a:hover {
    text-decoration: underline;
}


