form label {
    font-weight: 700;
    display: block;
    margin-bottom: 0.5rem;
}

form input {
    line-height: 2;
    border-radius: 0.25rem;
    border-width: 1px;
    border: 0 solid #d2d6dc;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    width: 50%;
}

form input:focus {
    box-shadow: 0 0 0 3px rgb(118 169 250 / 45%);
    outline: 0;
}

form button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    --bg-opacity: 1;
    background-color: #3f83f8;
    background-color: rgba(63, 131, 248, var(--bg-opacity));
    border-radius: 0.25rem;
    border: 0 solid #d2d6dc;
    font-weight: 700;
}


form button :hover {
    --bg-opacity: 1;
    background-color: #1a56db;
    background-color: rgba(26, 86, 219, var(--bg-opacity));
}

.input-user {
    margin-bottom: 1rem;
}


.input-pass {
    margin-bottom: 1.5rem;
}

#loginform{

    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}